@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans bg-zinc-950 text-zinc-50 antialiased
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.zinc.900");
    border-right-color: theme("colors.zinc.200");
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}